[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker-interface = {editable = true, path = "."}

[dev-packages]
pytest = ">=3.3.1"
pytest-cov = ">=2.5.1"
Sphinx = ">=1.6.5"
sphinx_rtd_theme = ">=0.2.4"

[requires]
python_version = "3.6"
